output/
*~
build/
class
*.prof
*.ini
libclass.a
*out
python/classy.c
*.pyc
python/build/
*.dSYM
RealSpaceInterface/cache/
.DS_Store
doc/manual/html
doc/manual/latex
classy_install/
external/distortions/Greens_data.dat
python/classy.egg-info/
python/dist/
